# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
dzip

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# we are testing locally with zip files, so ignore all of them
*.zip
